<!DOCTYPE html>
<!-- {% load static %} -->
<html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/\bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81i\uXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
  <title>RA Tennis {% block pageTitle %}{% endblock pageTitle %}</title>
</head>
<body>
  <div>
    <header>
      <div class="nav-left">
        <h1><a href="{% url 'home' %}">Tennis Training</a></h1>
      </div>
      <!-- <div class="nav-right"> -->
      <!-- <a href="{7% url 'post_new' %7}">+ New Blog Post</a> -->
      <!-- </div> -->
    </header>
    <p>abcdefgh@A1</p>
    {% if user.is_authenticated %}
      <p>Hi {{ user.username }}!</p>
      <a href="{% url 'logout' %}">Log out</a>
    {% else %}
      <p>You are not logged in.</p>
      <a href="{% url 'login' %}">Log In</a> |
      <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
       | <a href="/admin" target="_blank">Administration</a>
    <!-- CONTENT BLOCK -->
<br><br>
<p>-------------x--------------x--------------------</p>
    {% block content %}
    {% endblock content %}
  </div>
</body>
</html>
