<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Log In | Sign Up</title>
  <script type="text/javascript" src="static/js/home.js"></script>
</head>
<body>
  <h1>Tennis Training</h1>
  <form  name="Login form" action="" onsubmit="return validate_login()" method="post"  target="_blank" >
    {% csrf_token %}
    <fieldset>
      <legend>Log In</legend>
      <br>
      <input type="text" placeholder="Username" name="Username" value="">
      <br><br>
      <input type="email" placeholder="E-mail " name="E-mail" value="">
      <br><br>
      <input type="submit" value="Login" name="Submit">
      <!-- <button type="submit" name="button">Log In</button> -->
    </fieldset>
  </form>

  <br><br><br><br>

  <form  method="post" action="/addUser" target="_blank" name="Signup form" onsubmit="return validate_signUp()">
    {% csrf_token %}
    <fieldset>
      <legend>Sign Up</legend>
      <pre><input type="text" placeholder="First Name" name="fName" value="">      <input type="text" placeholder="Surname" name="sName" value=""></pre>
      <input type="text" placeholder="New Username" name="username" value="">
      <br><br>
      <input type="email" placeholder="E-mail Address" name="E-mail" value="">
      <br><br>
      <input type="tel" placeholder="Mobile No" name="mobNo" value="" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
      <br>
      <pre><input type="password" placeholder="New Password" name="New pass" value="">      <input type="password" placeholder="Confirm Password" name="Confirm pass" value=""></pre>
      <br>
      <input type="submit" value="Sign Up" name="Submit">
      <!-- <button type="submit" name="button">Sign Up</button> -->
    </fieldset>
  </form>

</body>
</html>
